var newEntry = '<div class ="match-team-content">' +
               '<div class ="match-team-avatar"><%= image_tag Team.find(@participation.team_id).avatar.url(:thumb) %></div>' +
               '<div class ="match-team-name attribute"><%= Team.find(@participation.team_id).name %></div>' +
               '<div class ="match-team-result attribute"> No results yet </div>' +
               '<div class ="match-team-actions-subtable"><%= link_to' Add results ', edit_participation_path(@participation), class: 'link-button'%>' +
               '<%= link_to' Remove ', @participation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-button'%></div></div>';
$(".participation-table").append(newEntry);
