<div class="page-content">
  <h1>Editing Participation</h1>

  <%= render 'form2', participation: @participation %>
  <div class="Options">
    <%= link_to 'Back', matches_path(@participation.match_id) , class: "link-button"%>

  </div>

</div>
