<div class="page-content">
  <h1>Editing Event</h1>

  <%= render 'form', event: @event %>

  <div class="Options">
    <%= link_to 'Show', @event, class: "link-button" %>
    <%= link_to 'Back', events_path, class: "link-button" %>
  </div>
</div>
