<p>
  Dear <%= @user.first_name + " " + @user.last_name %>,
</p>

<p>
  Welcome to GGEZ Bets! <br/>
  The team hopes you'll enjoy your time here making as many bets as you can. <br/>
  Remember our motto:
  <div id="ez_money">EZ MONEEEEY!!!</div>
</p>

<p>
  Best regards,<br/>
  GGEZ Bets staff.
</p>
