<h1>Editing Match</h1>

<%= render 'form', event: @event, match: @match %>

<%= link_to 'Show', event_match_path(@match.event_id, @match) %> |
<%= link_to 'Back', event_matches_path(@match.event_id) %>
