<p>
  Dear <%= @user.first_name + " " + @user.last_name %>,
</p>

<p>
  We at GGEZ bets are happy to inform you the <%= @match.name %> match has closed! <br/>
  During this event, you won <%= @ammount %> coins. <br/>

  Keeb betting and remember our motto:
  <div id="ez_money">EZ MONEEEEY!!!</div>
</p>

<p>
  Best regards,<br/>
  GGEZ Bets staff.
</p>
