// Place all the styles related to the bets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bet-info{
  padding: 3px;
}

.bet-content{
  border: 1px solid #ddd;
  text-align: center;
}
