// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-table{
  width: 100%;
  border: 1px solid #bbb;
}

.event-table-header th{
  border: 1px solid #bbb;
}

.event-content{
  border: 1px solid #ddd;
  text-align: center;
}

.event-action-subtable{
  width: 100%;
}

.subsection td:hover{
  border: 1px solid #aaa;
}

.subsection td{
  background-color: #eee;
  border: 1px solid #ddd;
  text-align: center;
}

.link-button{
  text-decoration: none;
  color: black;
}

.match-teams-table{
  border: 1px solid #bbb;
  width: 100%;
}

.teams-headers th{
  text-align: center;
  border: 1px solid #bbb;
}

.team-content td{
  border: 1px solid #ddd;
  text-align: center;
}

.matches-item-information{
  padding: 10px;
  padding-top: 0px;
  border-radius: 10px;
  list-style-type: none;
  border: 2px solid #ccc;
  width: 50%;
}

.match-information{
  border: 1px solid #bbb;
  width: 100%;
}

.info-headers th{
  text-align: center;
  border: 1px solid #bbb;
}

.info-data td{
  border: 1px solid #ddd;
  text-align: center;
}
