
@import "palette.scss";

// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//INDEX EVENT

$column-space-percents: 15% 30% 10% 15% 15% 15%;

.event-table{
  width: 100%;
}

.event-table-headers{
  width: 100%;
  display: grid;
  grid-template-columns: $column-space-percents;
  background-color: $default-primary-color;
}

.event-table-headers div{
  height: 100%;
  text-align: center;
}

.event-table-row{
  width: 100%;
  display: grid;
  grid-template-columns: $column-space-percents;
  background-color: $dark-primary-color;
  border-bottom: 1px solid $dark-primary-color;
}

.event-table-row div{
  height: 100%;
  text-align: center;
  background-color: $light-primary-color;
}

.event-action-subtable{
  width: 100%;
  height: 100%;
  display: flex;
}

.event-action-subtable a{
  border-left: 1px solid $dark-primary-color;
}



//SHOW EVENT


.match-teams-table{
  background-color: $light-primary-color;
  width: 100%;
}

.teams-headers{
  background-color: $default-primary-color;
  display: grid;
  grid-template-columns: 50% 50%;
}

.teams-headers div{
  width: 100%;
  height: 100%;
  text-align: center;
}

.team-content{
  background-color: $light-primary-color;
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid $default-primary-color;
}

.team-content div{
  width: 100%;
  height: 100%;
  text-align: center;
}

.matches-item-information{
  padding: 10px;
  background-color: $dark-primary-color;
  border-radius: 10px;
  list-style-type: none;
  width: 50%;
}

.match-information{
  width: 100%;
}


.info-data{
  float: left;
}
