
table.invitations-table{
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.invitation-headers th{
  border: 1px solid #ddd;
  background-color: #bbb;
}

.invitation-body td{
  border: 1px solid #bbb;
  text-align: center;
}
